@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
    --colorPrimary: 27 116 228;
  }
  body {
    background-color: #f0f1f5;
  }
  .PhoneInputInput {
    outline: none !important;
    border: none !important;
  }
}

@layer components{
  .btn_primary {
    @apply min-w-[108px] bg-primary text-white text-base font-medium py-[6px] px-[20px] rounded-md active:scale-95 duration-150
  }
  .common_shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    @apply rounded-md bg-[#fff] py-2 px-4
  }
  .nav_icon_btn {
    @apply px-8 py-2 h-full hover:bg-gray-100 rounded-md cursor-pointer grid place-items-center
  }
  .nav_icon {
    @apply text-[24px] text-gray-500
  }
  .nav_icon_round_btn {
    @apply w-[40px] h-[40px] bg-gray-200 rounded-full grid place-items-center hover:bg-gray-300 cursor-pointer
  }
  .post_icon {
    @apply text-[16px] text-gray-800
  }
  .custom_scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom_scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius:5px;
  }
  .common_shadow::-webkit-scrollbar-thumb {
    border-radius:5px;
    background: #888;
  }
  .post_text_scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  [contenteditable=true]:empty:not(:focus):before{
    content: attr(placeholder);
    color:grey;
    font-style:italic;
  }
  .register_input {
    @apply px-2 py-1 border-none outline-none w-full
  }
  .input_submit_btn {
    @apply py-2 px-4 bg-primary text-white text-lg font-bold w-full rounded-md active:scale-95 duration-150
  }
  .login_icon_btn {
    @apply w-full px-4 py-2 bg-gray-100 border border-gray-300 rounded-md flex items-center gap-4 my-3 hover:bg-gray-200 cursor-pointer active:scale-95 duration-150
  }
}